Hi there

I have tried to use "{{software_version}}" but this failed misserably. I run {{os_version}}.

This is what I want you to improve:
<user content can be added here>

Please be in toutch if you have questions regardig this issue.

Best regards
{{user_name}}